<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <meta name="description" content="">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <title>SearchEngine</title>


    <!-- Stylesheet -->
    <link rel="stylesheet" href="style.css">

</head>

<body>

  <script src="js/jquery/jquery-2.2.4.min.js"></script>
  <!-- Popper js -->
  <script src="js/bootstrap/popper.min.js"></script>
  <!-- Bootstrap js -->
  <script src="js/bootstrap/bootstrap.min.js"></script>
  <!-- All Plugins js -->
  <script src="js/plugins/plugins.js"></script>
  <!-- Active js -->
  <script src="js/active.js"></script>
  
  <script src="/js/jquery-3.2.1.min.js"></script>


    <section class="newsletter-area section-padding-100 bg-img jarallax">
      <div class="container">
          <div class="row justify-content-center">
              <div class="col-12 col-sm-10 col-lg-8">
                  <div class="nl-content text-center">
                      <h2>Quantec</h2>
                      <form action="#" method="post">
                          <input type="text" id="sch" placeholder="입력하시오."> 
                          <button type="button" class="enterBtn">검색</button>
                      </form>
                    </div>
              </div>
          </div>
      </div>
  </section>
  
  <section class="newsletter-area section-padding-100 bg-img jarallax"></section>
  <section class="newsletter-area section-padding-100 bg-img jarallax"></section>
  <section class="newsletter-area section-padding-100 bg-img jarallax"></section>
 
</body>
<script>
  $(document).on("click", ".enterBtn",function(){

    var text = $("#sch").val();

    $.ajax({
                url:'http://3.34.174.254:3000/python/py',//3.34.174.254:3000
                type : 'POST',
                data : {
                  text : text

                },
                success:function(data){
                  console.log(data);
                  var alertmessage = '';
                  for(var i = 0; i < data.length; i++){
                    alertmessage += ("Ira : " + data[i].ans.toString() + "입니다\n")
                    console.log((data[i].ans))
                  }
                  if(data == ''){
                    alert("키워드를 중심으로 다시 검색해 주십시오.")
                  }
                  else alert(alertmessage)
                  //alert(data[0].code)
                },
                error: function (request, status, error) {
                console.log('error!');
                alert("예제를 더 만들겠습니다,,,, 데이터 감사합니다 :)")
                //console.log(request.responseText);
                //alert("code:"+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+error);
                },
                complete: function() {
                    console.log('검색 완료.');
                }
                

  });

  });



  </script>

</html>